version: "3.8"
services:
  server:
    build: ./server
    container_name: express_server
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - ./server/.env
    depends_on:
      - db

  client:
    build: ./web
    container_name: react_client
    ports:
      - "5173:5173"
    volumes:
      - ./web:/app
      - /app/node_modules
    env_file:
      - ./web/.env
    depends_on:
      - server

  db:
    image: mysql:8
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: kasir
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
